<div>
  <div class="air__utils__heading">
    <h5>General Widgets</h5>
  </div>
  <div class="mb-5">
    <div class="row">
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-wrap mb-2">
              <div class="text-dark font-size-18 font-weight-bold mr-auto">
                Support Chat
              </div>
              <button type="button" class="btn btn-link p-0 border-0">
                <i class="fe fe-x-square font-size-21 align-middle text-gray-6"></i>
              </button>
            </div>
            <air-general-14></air-general-14>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-12></air-general-12>
          </div>
        </div>
        <div class="card text-white bg-primary">
          <air-general-12v1></air-general-12v1>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-12v2></air-general-12v2>
          </div>
        </div>
        <div class="card">
          <div class="card-body bg-gray-2">
            <air-general-12v3></air-general-12v3>
          </div>
        </div>
        <div class="card">
          <air-general-13></air-general-13>
        </div>
        <div class="card">
          <air-general-13v1></air-general-13v1>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-body">
            <air-general-1></air-general-1>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-1v1></air-general-1v1>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-9></air-general-9>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-10></air-general-10>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-10v1></air-general-10v1>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-5v1></air-general-5v1>
          </div>
        </div>
        <div class="card">
          <air-general-11></air-general-11>
        </div>
        <div class="card">
          <air-general-11v1></air-general-11v1>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-body">
            <air-general-2></air-general-2>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-2v1></air-general-2v1>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-2v2></air-general-2v2>
          </div>
        </div>
        <div class="card text-white bg-success">
          <div class="card-body">
            <air-general-2v3></air-general-2v3>
          </div>
        </div>
        <div class="card text-white bg-danger">
          <div class="card-body">
            <air-general-2v4></air-general-2v4>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-3></air-general-3>
          </div>
        </div>
        <div class="card bg-primary">
          <div class="card-body">
            <air-general-3v1></air-general-3v1>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-4></air-general-4>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-5></air-general-5>
          </div>
        </div>
        <div class="card">
          <air-general-6></air-general-6>
        </div>
        <div class="card">
          <air-general-6v1></air-general-6v1>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-7></air-general-7>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-general-8></air-general-8>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12">
        <div class="card">
          <div class="card-body">
            <air-general-15></air-general-15>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12">
        <air-general-16 [isNew]="true" [isFavorite]="true" image="assets/images/products/003.jpg"
          name="TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers for Home" price="245.21"
          oldPrice="419.58"></air-general-16>
      </div>
    </div>
  </div>
</div>