<div>
  <div class="air__utils__heading">
    <h5>
      <span class="mr-3">Claim Request</span>
      <a
        href="https://ant.design/components/table"
        rel="noopener noreferrer"
        target="_blank"
        class="btn btn-sm btn-light"
      >
    My Claim Request
        <i class="fe fe-corner-right-up"></i>
      </a>
    </h5>
  </div>
  <div class="card">
    <div class="card-body">

      <air-antd-table-claimrequest></air-antd-table-claimrequest>
     
    </div>
  </div>
</div>
