<ngx-spinner></ngx-spinner>

<div>
  <div class="subbar">
    <ul class="breadcrumbList mr-4">
      <li class="breadcrumbItem">
        <a href="#" class="breadcrumbLink">
          Send Money
        </a>
      </li>
      <li class="breadcrumbItem">
        <a href="#" class="breadcrumbLink breadcrumbLink__current">
          Any Where Money Transfer
        </a>
      </li>
    </ul>
  </div>

  <br>

  <form nz-form [nzLayout]="'vertical'" [formGroup]="sendMoneyForm">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-4">
          <strong>Transfast</strong>
        </h4>
        <h4 class="mb-4">
          <strong>Select Transfer Type </strong>
        </h4>

        <div class="row">
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" class="text-left"> Transfer Type :</nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="transferTpl">
                <nz-select nzPlaceHolder="Please Select Transfer Type" formControlName="searchParam"
                  (ngModelChange)="navigateTransfers()">
                  <nz-option nzLabel="Other Transfer" nzValue="OTHER"></nz-option>
                  <nz-option nzLabel="Coop Transfer" nzValue="COOP"></nz-option>
                </nz-select>
                <ng-template #transferTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Required
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </div>

    <div class="air__utils__heading">
      <h5>
        <span class="mr-3">Transfast Transfer</span>
        <a href="https://getbootstrap.com/docs/4.3/components/card/" target="_blank" rel="noopener noreferrer"
          class="btn btn-sm btn-light">
          Location and Amount to Receive
          <i class="fe fe-corner-right-up"></i>
        </a>
      </h5>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-12">
        <div class="card">
          <div class="card-header card-header-flex">
            <div class="d-flex flex-column justify-content-center mr-auto">
              <h5 class="mb-0">Location and Amount to Receive </h5>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="CountryTpl">
                    <nz-select formControlName="countryid" nzShowSearch nzAllowClear nzPlaceHolder="Select Country"
                      (ngModelChange)="getStates()">
                      <nz-option name="code" *ngFor="let ct of countries" nzLabel="{{ct.Name}}" [nzValue]="ct.IsoCode">
                      </nz-option>
                    </nz-select>
                    <ng-template #CountryTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="stateTpl">
                    <nz-select formControlName="stateid" (ngModelChange)="getCity()" nzShowSearch nzAllowClear
                      nzPlaceHolder="Select State">
                      <nz-option *ngFor="let st of states" nzLabel="{{st.Name}}" [nzValue]="st.Id"></nz-option>
                    </nz-select>
                    <ng-template #stateTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="cityTpl">
                    <nz-select formControlName="cityid" (ngModelChange)="getPaymentMode()" nzShowSearch nzAllowClear
                      nzPlaceHolder="Select City">
                      <nz-option *ngFor="let ct of cities" nzLabel="{{ct.Name}}" [nzValue]="ct.Id"></nz-option>
                    </nz-select>
                    <ng-template #cityTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6" *ngIf="hastowns">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="paymentModeTpl">
                    <nz-select formControlName="townid" (ngModelChange)="getpayermodesTown()" nzShowSearch nzAllowClear
                      nzPlaceHolder="Select Town">
                      <nz-option *ngFor="let tw of towns" nzLabel="{{tw.Name}}" [nzValue]="tw.Id"></nz-option>
                    </nz-select>
                    <ng-template #paymentModeTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="payerssenderCurrencyTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select payment mode"
                      formControlName="paymentmode" (ngModelChange)="getrecieverCurrencyCode()">
                      <nz-option *ngFor="let pm of paymentmodes" nzLabel="{{pm.Name}}"
                        [nzValue]="pm.Id"></nz-option>
                    </nz-select>
                    <ng-template #payerssenderCurrencyTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="payerssenderCurrencyTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Select Sender Currency"
                      formControlName="sendcurrency" (ngModelChange)="getPayer()">
                      <nz-option *ngFor="let cr of accounts" nzLabel="{{cr.displayname}}"
                        [nzValue]="cr.currencycode + '|' + cr.accountnumber"></nz-option>
                    </nz-select>
                    <ng-template #payerssenderCurrencyTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="payersreceiverCurrencyTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Select Receiver Currency"
                      formControlName="recievecurrency" (ngModelChange)="getPayer()">
                      <nz-option *ngFor="let cr of currencies" nzLabel="{{cr.IsoCode}}" [nzValue]="cr.IsoCode">
                      </nz-option>
                    </nz-select>
                    <ng-template #payersreceiverCurrencyTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="air__utils__heading">
                <h5>
                  <span class="mr-6">Payers Location</span><br><br>
                  <a href="https://getbootstrap.com/docs/4.3/components/card/" target="_blank" rel="noopener noreferrer"
                    class="btn btn-sm btn-light">
                    Pick up cash at any of our locations. You are not to pre-select a location.
                    <i class="fe fe-corner-right-up"></i>
                  </a>
                </h5>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="PayersTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Select Payers"
                      (ngModelChange)="getpayerbranch()" formControlName="payername">
                      <nz-option *ngFor="let py of payers" nzLabel="{{py.PayerName}}" [nzValue]="py.PayerInternalCode">
                      </nz-option>
                    </nz-select>
                    <ng-template #PayersTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="PayersBranchTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Select Payers Branch"
                      formControlName="bankname" (ngModelChange)="resetsendamount()">
                      <nz-option *ngFor="let bk of banks" nzLabel="{{bk.Name}}" [nzValue]="bk.Id"></nz-option>
                    </nz-select>
                    <ng-template #PayersBranchTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="payerssendAmountTpl">
                    <input nz-input id="payerssendAmount" formControlName="senderamount" placeholder="Send Amount" />
                    <ng-template #payerssendAmountTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="payersreceiverAmountTpl">
                    <input nz-input id="payersreceiverAmount" formControlName="receiveramount"
                      placeholder="Receive Amount" />
                    <ng-template #payersreceiverAmountTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <br><br>

              <div class="air__utils__heading">
                <h5>
                  <span class="mr-6">Receiver's Details</span>
                </h5>
              </div>

              <div class="col-md-12">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="receiversfirstNameTpl">
                    <input nz-input id="receiversfirstName" formControlName="firstname" placeholder="First Name" />
                    <ng-template #receiversfirstNameTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="receiversMiddleName">
                    <input nz-input id="receiversMiddleName" formControlName="middlename" placeholder="Middle Name" />
                    <ng-template #receiversMiddleName let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="receiverslastNameTpl">
                    <input nz-input id="receiverslastName" formControlName="lastname" placeholder="Last Name" />
                    <ng-template #receiverslastNameTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <br><br>

              <div class="air__utils__heading">
                <h5>
                  <span class="mr-6">Address</span>
                </h5>
              </div>

              <div class="col-md-12">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="receiversAddressTpl">
                    <input nz-input id="receiversAddress" formControlName="receiveraddress"
                      placeholder="Street Address" />
                    <ng-template #receiversAddressTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="countryTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Select Country" formControlName="rcountryid"
                      (ngModelChange)="getStates1()">
                      <nz-option *ngFor="let ct of countries" nzLabel="{{ct.Name}}" [nzValue]="ct.IsoCode"></nz-option>
                    </nz-select>
                    <ng-template #countryTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="stateTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Select State" formControlName="rstateid"
                      (ngModelChange)="getCity1()">
                      <nz-option *ngFor="let st of states" nzLabel="{{st.Name}}" [nzValue]="st.Id"></nz-option>
                    </nz-select>
                    <ng-template #stateTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="cityTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Select City" formControlName="rcityid"
                      (ngModelChange)="getPaymentMode1()">
                      <nz-option *ngFor="let ct of cities" nzLabel="{{ct.Name}}" [nzValue]="ct.Id"></nz-option>
                    </nz-select>
                    <ng-template #cityTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="townTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Select Town" formControlName="rtownid"
                      (ngModelChange)="getPaymentMode2()">
                      <nz-option *ngFor="let tw of towns" nzLabel="{{tw.Name}}" [nzValue]="tw.Id"></nz-option>
                    </nz-select>
                    <ng-template #townTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-12">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="receiverspostalCodeTpl">
                    <input nz-input id="receiverspostalCode" formControlName="postalcode" placeholder="Postal Code" />
                    <ng-template #receiverspostalCodeTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <br><br>

              <div class="air__utils__heading">
                <h5>
                  <span class="mr-6">Additional Receiver's Details</span>
                </h5>
              </div>

              <div class="col-md-12">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="sendersNumberTpl">
                    <input nz-input id="sendersMobileNumber" formControlName="mobilenumber"
                      placeholder="Mobile Number" />
                    <ng-template #sendersNumberTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">
                        Please enter a valid Mobile number
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="receiversEmailTpl">
                    <input nz-input id="receiversEmail" formControlName="email" placeholder="Email" />
                    <ng-template #receiversEmailTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">
                        Please enter a valid Email
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="receiversworkNumberTpl">
                    <input nz-input id="receiversworkNumber" formControlName="workphone" placeholder="Work Phone" />
                    <ng-template #receiversworkNumberTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">
                        Please enter a valid Phone Number
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="receiversworkNumberTpl">
                    <input nz-input id="receivershomeNumber" formControlName="homephone" placeholder="Home Phone" />
                    <ng-template #receiversworkNumberTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">
                        Please enter a valid Phone Number
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="receiversNatTpl">
                    <nz-select nzShowSearch nzAllowClear formControlName="nationality"
                      nzPlaceHolder=" Select Nationality">
                      <nz-option *ngFor="let ct of countries" nzLabel="{{ct.Name}}" [nzValue]="ct.IsoCode"></nz-option>
                    </nz-select>
                    <ng-template #receiversNatTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-12">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24">
                    <textarea nz-input formControlName="description" placeholder="Ex. Description..."></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-lg-12">
        <div class="card">

          <div class="card-body">
            <h4 class="mb-4">
              <strong>Senders Details</strong>
            </h4>


            <div class="row">
              <div class="col-md-12">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="sendersfullNameTpl">
                    <input nz-input id="sendersfullName" formControlName="senderfullname" placeholder="First Name" />
                    <ng-template #sendersfullNameTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="senderscardNumberTpl">
                    <input nz-input id="senderscardNumber" formControlName="loyaltycardnumber"
                      placeholder="Loyalty Card Number" />
                    <ng-template #senderscardNumberTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="sendersdateTpl">
                    <input nz-input id="sendersdate" formControlName="senderdateofbirth" placeholder="Date of Birth" />
                    <ng-template #sendersdateTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="air__utils__heading">
                <h5>
                  <span class="mr-6">Address</span>
                </h5>
              </div>

              <div class="col-md-12">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="sendersAddressTpl">
                    <input nz-input id="sendersAddress" formControlName="senderaddress" placeholder="Street Address" />
                    <ng-template #sendersAddressTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="countryTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Select Country" formControlName="scountryid"
                      (ngModelChange)="getStates2()">
                      <nz-option *ngFor="let ct of countries" nzLabel="{{ct.Name}}" [nzValue]="ct.IsoCode"></nz-option>
                    </nz-select>
                    <ng-template #countryTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="stateTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Select State" formControlName="sstateid"
                      (ngModelChange)="getCity2()">
                      <nz-option *ngFor="let st of sstates" nzLabel="{{st.Name}}" [nzValue]="st.Id"></nz-option>
                    </nz-select>
                    <ng-template #stateTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="cityTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Select City" formControlName="scityid">
                      <nz-option *ngFor="let ct of cities" nzLabel="{{ct.Name}}" [nzValue]="ct.Id"></nz-option>
                    </nz-select>
                    <ng-template #cityTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="townTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Select Town" formControlName="spostalcode">
                      <nz-option *ngFor="let tw of towns" nzLabel="{{tw.Name}}" [nzValue]="tw.Id"></nz-option>
                    </nz-select>
                    <ng-template #townTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="sendersNumber">
                    <input nz-input id="sendersNumber" formControlName="sendermobilenumber"
                      placeholder="Mobile Number" />
                    <ng-template #sendersNumber let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">
                        Please enter a valid Mobile number
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="sendersEmailTpl">
                    <input nz-input id="sendersEmail" formControlName="senderemail" placeholder="Email" />
                    <ng-template #sendersEmailTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">
                        Please enter a valid Email
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="sendersworkNumberTpl">
                    <input nz-input id="sendersworkNumber" formControlName="senderworkphone" placeholder="Work Phone" />
                    <ng-template #sendersworkNumberTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">
                        Please enter a valid Phone Number
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="sendershomeNumberTpl">
                    <input nz-input id="sendershomeNumber" formControlName="senderhomephone" placeholder="Home Phone" />
                    <ng-template #sendershomeNumberTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">
                        Please enter a valid Phone Number
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="typeofIdTpl">
                    <nz-select nzShowSearch nzAllowClear formControlName="identification"
                      nzPlaceHolder=" Select Type of Identification">
                      <nz-option *ngFor="let id of identifications" nzLabel="{{id.Name}}" [nzValue]="id.Id"></nz-option>
                    </nz-select>
                    <ng-template #typeofIdTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="idNumTpl">
                    <input nz-input id="idNum" formControlName="identificationnumber"
                      placeholder="Identification Number" />
                    <ng-template #idNumTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="idNumsTpl">
                    <input nz-input id="idExp" formControlName="expirydate" placeholder="DD/MM/YYYY" />
                    <ng-template #idNumsTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="natiTpl">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Select Nationality"
                      formControlName="sendernationality">
                      <nz-option *ngFor="let ct of countries" nzLabel="{{ct.Name}}" [nzValue]="ct.IsoCode"></nz-option>
                    </nz-select>
                    <ng-template #natiTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Required
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="card-body">
                <h4 class="mb-4">
                  <strong>Transfast</strong>
                </h4><br><br>
                <div class="col-md-12">
                </div>
                <div class="col-md-12 text-right font-size-18 text-dark">
                  <div>
                    Send Amount : <span class="font-weight-bold">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${{finalrate.SentAmount| number : '1.2-2'}} {{sendercr}}</span>
                  </div>
                  <div>
                    Receive Amount : <span
                      class="font-weight-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${{finalrate.ReceiveAmount| number : '1.2-2'}}
                      {{receivercr}}</span>
                  </div>
                  <div>
                    Exchange Rate : <span class="font-weight-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$1 {{sendercr}} =
                      {{finalrate.TransactionRate}} {{receivercr}}</span>
                  </div>
                  <div>
                    Service Fee : <span
                      class="font-weight-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${{finalfees | number : '1.2-2'}}
                      {{sendercr}}</span>
                  </div>
                  <div>
                    Taxes : <span
                      class="font-weight-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${{finaltax | number : '1.2-2'}}
                      {{sendercr}}</span>
                  </div>
                  <div>
                    USD Service Fees : <span
                      class="font-weight-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${{finalrate.USDServiceFee | number : '1.2-2'}}
                      {{sendercr}}</span>
                  </div>
                  <div>
                    Handling Amount : <span
                      class="font-weight-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${{finalrate.HandlingAmount| number : '1.2-2'}}
                      {{sendercr}}</span>
                  </div>
                  <div>
                    Total Payable : <span
                      class="font-weight-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${{totalsendamount| number : '1.2-2'}}
                      {{sendercr}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <nz-form-item>
    <nz-form-control>
      <button type="submit" class="btn btn-primary">
        EXIT
      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary" [disabled]="!sendMoneyForm.valid" (click)="saveTransaction()">
        SUBMIT TRANSACTION
      </button>
    </nz-form-control>
  </nz-form-item>
</div>