<div>
  <div class="air__utils__heading">
    <h5>
      <span class="mr-3">My Cards</span>
      <a href="https://ant.design/components/table" rel="noopener noreferrer" target="_blank"
        class="btn btn-sm btn-light">
        All Cards
        <i class="fe fe-corner-right-up"></i>
      </a>
    </h5>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 style="float: right!important;">

        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add Card</button>
      </h5>
      <air-antd-table-allcards #allCardTable (updateCstmr)="updtCustomer($event)"></air-antd-table-allcards>

    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ mode === 'create' ? 'Add Card' : 'Update Card' }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="addCardForm">
      <div class="row">

        <div class="col-md-6">
          <nz-form-item>

            <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="cardNumberTpl">
              <input nz-input id="ccnumber" formControlName="ccnumber" placeholder="Card Number" />
              <ng-template #cardNumberTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Required
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')">
                  Only numbers allowed
                </ng-container><br>
                <ng-container *ngIf="control.hasError('minlength')">
                  Enter a valid card number
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>


        <div class="col-md-6">
          <nz-form-item>
            <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="ccExpTpl">
              <input type="password" nz-input id="ccexpiry" formControlName="ccexpiry" placeholder="CC / EXP" />
              <ng-template #ccExpTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Required
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')">
                  Only numbers allowed
                </ng-container><br>
                <ng-container *ngIf="control.hasError('minlength')">
                  Enter a valid number
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="col-md-6">
          <nz-form-item>

            <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="cvvTpl">
              <input type="password" nz-input id="cvv" formControlName="cvv" placeholder="CVV" />
              <ng-template #cvvTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Required
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')">
                  Only numbers allowed
                </ng-container><br>
                <ng-container *ngIf="control.hasError('minlength')">
                  Enter a valid number
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="fullNameTpl">
              <input nz-input id="fullname" formControlName="firstname" placeholder="Enter Name" />
              <ng-template #fullNameTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Required
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="col-md-6">
          <nz-form-item>
            <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="isDefaultTpl">
              <!-- <nz-select formControlName="isDefault" nzShowSearch nzAllowClear nzPlaceHolder="Is Default" (ngModelChange) ="enableStateDropdown()">
                <nz-option name="code" *ngFor="let optn of isDefaultOptn"
                  nzLabel="{{optn}}" [nzValue]="optn"></nz-option>
              </nz-select> -->
              <select class="form-control" formControlName="isdefault">
                  <option hidden value="" disabled selected><span style="color: #786fa4">Is Default</span></option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
              </select>
              <ng-template #isDefaultTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Required
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <nz-form-item>
      <nz-form-control>
        <button type="submit" class="btn btn-primary" (click)="modal.dismiss('Reset click'); resetForm($event)">
          RESET
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary" (click)="modal.dismiss('Add click'); submitForm()">
          ADD CARD
        </button>
      </nz-form-control>
    </nz-form-item>
  </div>
</ng-template>