<div>
  <div class="air__utils__heading">
    <h5>Lists Widgets</h5>
  </div>
  <div class="mb-5">
    <div class="row">
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-body">
            <air-list-1></air-list-1>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-5></air-list-5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-8></air-list-8>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-11></air-list-11>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-14></air-list-14>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-17></air-list-17>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <air-list-2></air-list-2>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-6></air-list-6>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-9></air-list-9>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-12></air-list-12>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-15></air-list-15>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-19></air-list-19>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-body">
            <air-list-3></air-list-3>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-4></air-list-4>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-7></air-list-7>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-10></air-list-10>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-13></air-list-13>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-16></air-list-16>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <air-list-18></air-list-18>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>