<ngx-spinner></ngx-spinner>
<div>
  <div class="subbar">
    <ul class="breadcrumbList mr-4">
      <li class="breadcrumbItem">
        <a href="#" class="breadcrumbLink">
          Bank Deposits
        </a>
      </li>
      <li class="breadcrumbItem">
        <a href="#" class="breadcrumbLink breadcrumbLink__current">
          Bank Deposits
        </a>
      </li>
    </ul>

  </div>
  <br>

  <div class="card">
    <div class="card-body">

      <h4 class="mb-4">
        <strong>Bank Deposits</strong>
      </h4>
      <form nz-form [nzLayout]="'vertical'" [formGroup]="onbankDepositForm">
        <div class="row">

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" class="text-left"> Account :</nz-form-label>
              <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="24" [nzErrorTip]="fromAccountTpl">
                <nz-select formControlName="fromAccount" nzShowSearch nzAllowClear nzPlaceHolder="From Account"
                  (ngModelChange)="getConversionAmount()">
                  <nz-option name="code" *ngFor="let acc of accounts"
                    nzLabel="{{acc.accountnumber}}- {{getCurrencyName(acc.currencyid)}}" [nzValue]="acc.id"></nz-option>
                </nz-select>
                <ng-template #fromAccountTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Required
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" class="text-left"> Country :</nz-form-label>
              <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="24" [nzErrorTip]="codeTpl">
                <nz-select formControlName="country" nzShowSearch nzAllowClear nzPlaceHolder="Select Country" (ngModelChange) ="getBanksByCountry()">
                  <nz-option name="code" *ngFor="let cntry of countries"
                    nzLabel="(+{{cntry.areacode}}) {{cntry.countryname}}" [nzValue]="cntry.id"></nz-option>
                </nz-select>
                <ng-template #codeTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Required
                  </ng-container>
                </ng-template>
              </nz-form-control>
              
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" class="text-left"> Bank Name :</nz-form-label>
              <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="24" [nzErrorTip]="bankNameTpl">
                <nz-select nzShowSearch nzAllowClear formControlName="bank" nzPlaceHolder="Please Select Bank Name"  (ngModelChange)="getBanksCurrencybyBankid()">
                    <nz-option name="bank" *ngFor="let bnk of banknames" nzLabel="{{bnk.bankname}}" [nzValue]="bnk.id"></nz-option>
                </nz-select>
                <ng-template #bankNameTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Required
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="full-name" class="text-left">Bank Code :</nz-form-label>
              <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="24" [nzErrorTip]="routerNumberTpl">
                <input nz-input id="routingNumber" formControlName="routingNumber"
                  placeholder="Routing Number/Bank Code" />
                <ng-template #routerNumberTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Required
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" class="text-left"> Bank Currency :</nz-form-label>
              <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="24" [nzErrorTip]="bankCurrencyTpl">
                <nz-select nzShowSearch nzAllowClear formControlName="bankCurrency"
                  nzPlaceHolder="Please Select Bank Currency" (ngModelChange)="getConversionAmount()">
                  <nz-option name="currency" *ngFor="let cr of bankcurrencies" nzLabel="{{cr.currencycode}}" [nzValue]="cr.currencycode"></nz-option>
                </nz-select>
                <ng-template #bankCurrencyTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Required
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" class="text-left"> Account Type :</nz-form-label>
              <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="24" [nzErrorTip]="accountTypeTpl">
                <nz-select nzShowSearch nzAllowClear formControlName="accountType"
                  nzPlaceHolder="Please Select Account Type">
                  <nz-option name="accountType" *ngFor="let at of accounttypes" nzLabel="{{at.typename}}" [nzValue]="at.code"></nz-option>
                </nz-select>
                <ng-template #accountTypeTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Required
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="full-name" class="text-left">Account Holder Name :
              </nz-form-label>
              <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="24" [nzErrorTip]="accountHolderTpl">
                <input nz-input id="accountholderName" formControlName="holderName"
                  placeholder="Account Holder Name" />
                <ng-template #accountHolderTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Required
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="full-name" class="text-left">Bank Account Number :
              </nz-form-label>
              <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="24" [nzErrorTip]="bankAccountNumberTpl">
                <input nz-input id="accountNumber" formControlName="accountNumber" placeholder="Bank Account Number" />
                <ng-template #bankAccountNumberTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Required
                  </ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">
                    Please enter a valid number
                  </ng-container>
                  <ng-container *ngIf="control.hasError('minlength')">
                    Account number has to be min 6 digits
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="full-name" class="text-left">Deposit Date :</nz-form-label>
              <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="24" [nzErrorTip]="depositDate">
                <nz-date-picker id="depositDate" formControlName="depositDate" placeholder="Deposit Date" [nzFormat]="'dd/MM/yyyy'" name="depositDate"></nz-date-picker>
                <ng-template #depositDate let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Required
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="full-name" class="text-left">Enter Amount :</nz-form-label>
              <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="24" [nzErrorTip]="enterAmountTpl">
                <input nz-input maxlength="10" id="enterAmount" formControlName="amounttoTransfer" placeholder="Enter Amount" (focusout)="getTransferedAmount()"/>
                <ng-template #enterAmountTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Required</ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">Please enter a valid number </ng-container>
                    <ng-container *ngIf="control.hasError('minlength')">Amount  has to be minimum of 1 digits </ng-container>
                  
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="full-name" class="text-left">Conversion Rate :
              </nz-form-label>
              <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="24" [nzErrorTip]="conversionRate">
                <input nz-input id="debitDate" formControlName="conversionRate" placeholder="Amount To Be Transfered"/>
                <ng-template #conversionRate let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Required
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="full-name" class="text-left">Amount To Be Credited :
                </nz-form-label>
                <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="24" [nzErrorTip]="amounttoCredit">
                  <input nz-input id="debitDate" formControlName="amounttoCredit" placeholder="Amount To Be Transfered" />
                  <ng-template #amounttoCredit let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Required
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>

        </div>
        <nz-form-item>
          <nz-form-control>
            <button type="submit" class="btn btn-primary" (click)="onbankDepositForm.reset()">
              RESET
            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary" [disabled] ="!onbankDepositForm.valid" (click)="transferAmount()" >
              ADD FUND
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>