<div>
  <div class="air__utils__heading">
    <h5>
      <span class="mr-3">Card History</span>
      <a
        href="https://ant.design/components/table"
        rel="noopener noreferrer"
        target="_blank"
        class="btn btn-sm btn-light"
      >
        My Card History 
        <i class="fe fe-corner-right-up"></i>
      </a>
    </h5>
  </div>
  <div class="card">
    <div class="card-body">

      <air-antd-table-cardhistorytable></air-antd-table-cardhistorytable>
     
    </div>
  </div>
</div>
