<div class="auth">
  <div class="pt-5 pb-5 d-flex align-items-end mt-auto">

  </div>
  <div class="pl-5 pr-5 pt-5 pb-5 bg-white container">
    <div class="text-dark font-size-25 mb-2 text-center">
      <img src="assets/images/appopay.png" style="height:45px!important;" alt="AIR UI Logo" />

    </div>
    <div class="text-dark font-size-30 mb-4 text-center">Reset Password</div>
    <form [formGroup]="forgotPasswordForm" nz-form [nzLayout]="'vertical'">
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzSm]="24" [nzXs]="24" [nzErrorTip]="codeTpl">
          <nz-select formControlName="selectCode" nzShowSearch nzAllowClear nzPlaceHolder="Select Area Code">
            <nz-option name="country" *ngFor="let cntry of countries"
              nzLabel="(+{{cntry.areacode}}) {{cntry.countryname}}" [nzValue]="cntry.areacode"></nz-option>
          </nz-select>
          <ng-template #codeTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Required
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="mobErr">
          <input type="text" formControlName="mobilenumber" nz-input nzSize="large" placeholder="Mobile Number" />
          <ng-template #mobErr let-control>
            <ng-container *ngIf="control.hasError('required'); else genErr">
              Please input your Mobile Number
            </ng-container>
            <ng-template #genErr>
              Please enter a valid Mobile Number
            </ng-template>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="Please answer- What is Your Major Achievement!">
          <input type="text" formControlName="securityAnswer" nz-input nzSize="large"
            placeholder="What is Your Major Achievement" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="Please input your new password!">
          <input type="password" formControlName="password" nz-input nzSize="large" placeholder="New Password" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="confPass">
          <input type="password" formControlName="confirmPassword" nz-input nzSize="large" placeholder="Confirm Password" />
          <ng-template #confPass let-control>
            <ng-container *ngIf="control.hasError('required'); else genError">
              Please re-enter your password!
            </ng-container>
            <ng-template #genError>
              Passwords do not match
            </ng-template>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>

          <button *ngIf="buttonaction == 1" [disabled]="!forgotPasswordForm.valid" (click)="sendOtp()" nz-button
            nzType="primary" [nzSize]="'large'" class="text-center btn btn-success w-100 font-weight-bold font-size-18">
            SUBMIT
          </button>
          <button *ngIf="buttonaction == 2" (click)="verifyOtp()" nz-button nzType="primary" [nzSize]="'large'"
            class="text-center btn btn-success w-100 font-weight-bold font-size-18">
            VERIFY OTP
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div class="text-center font-size-18 pt-4 mb-auto">
    <a routerLink="/system/login" class="font-weight-bold text-blue text-underlined">
      <i class="fe fe-arrow-left align"></i>
      Go Back
    </a>
  </div>
  <div class="mt-auto pb-5 pt-5">
    <ul class="list-unstyled d-flex mb-2 flex-wrap justify-content-center footerNav">
      <li>
        <a href="javascript: void(0);">Terms of Use</a>
      </li>
      <li>
        <a href="javascript: void(0);">Compliance</a>
      </li>
      <li>
        <a href="javascript: void(0);">Support</a>
      </li>
      <li>
        <a href="javascript: void(0);">Contacts</a>
      </li>
    </ul>
    <div class="text-gray-4 text-center">© 2019 Mediatec. All rights reserved.</div>
  </div>
</div>