<div>
  <nz-tabset class="air-tabs-bordered" [nzSelectedIndex]="0">
    <nz-tab nzTitle="Notifications">
      <div class="text-gray-6">
        <ul class="list-unstyled">
          <li class="mb-3" *ngFor="let notif of notifications">
            <div class="head">
              <p class="title">
                Mobile:
                <strong class="text-black">{{ notif.mobilenumber }}</strong>
              </p>
              <time class="time">{{ notif.notification_date | date : 'MM/dd/yyyy' }}</time>
            </div>
            <p>{{ notif.notification_text }}</p>
          </li>
        </ul>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Transactions">
      <div class="py-2 pb-4">
        <ul class="list-unstyled">
          <li class="mb-3" *ngFor="let transHistory of wallethistory">
            <div class="head">
              <p class="title">
                Transaction Id:
                <strong class="text-black">{{ transHistory.transactionid }}</strong>
              </p>
              <time class="time">{{ transHistory.transactiondate | date : 'MM/dd/yyyy' }}</time>
            </div>
            <p>{{ transHistory.transactiondescription }}</p>
            <p class="title">
              Transaction Amount:
              <strong class="text-dark">{{ transHistory.transactionamount }}</strong>
            </p>
            <p class="title">
              Transaction Type:
              <strong class="text-uppercase">{{ transHistory.transactiontype }}</strong>
            </p>
            <p class="title">
              Transaction Status:
              <strong class="text-gray-6">{{ transHistory.transactionstatus }}</strong>
            </p>
            <p class="title">
              Transaction Balance:
              <strong class="text-black">{{ transHistory.pendingbalance }}</strong>
            </p>
          </li>
        </ul>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Events">
      <div class="py-2 pb-4">No Events</div>
    </nz-tab>
  </nz-tabset>
</div>